<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}

        <div class="content">
            <div class="inner-home">
                <div class="right">
                    <div class="container">
                        <h1>Early Fusion Music: <span class="h1-light">Cross Cultural Musical Exchanges in Colonial India</span></h1>
                    
                        <p>
                            In association with:
                        </p>
                        <div class="images">
                                <a href="http://http://www.nias.res.in/"><div class="nias">
                                </div></a>

                                <a href="http://niasconsciousnesscentre.org/"><div class="csp">
                                </div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
